/*
 * pmsc_player.css
 * 
 * stylesheet for the PM Sound Cloud Player
 */

.pmsc-player {
  background-color:gray;
  position:relative;
  margin:auto; 
}
.pmsc-500  {
  width:500px;
  height:500px;
}

.control-box {
  position:absolute;
  bottom:0;
	display:none;
}

.big-play {
	width:16%;
	height:16%;
	position:absolute;
	top:42%;
	left:42%;
	margin:auto;

	border-radius:25%;
	border:2px solid #999999;

	text-align:center;
	background-color:green;
	opacity:70%;

	color: #FFFFFF;
	font-weight:bold;
	font-size:2em;

	box-shadow: 5px 5px 5px #111111;


}
.big-play:hover {
  cursor:pointer;
}

.pmsc-player .status {
  position:absolute;
  top:50%;
  margin:auto;
}

.pmsc-player .play  {
  width:60px;
  background-color:green;
  padding:0 5px;
  cursor:pointer;
  float:left;
}
.pmsc-player .next {
  width:60px;
  cursor:pointer;
  background-color:#330033;  
  color:#FFF;
  padding:0 5px;
  float:left;
}

.pmsc-player .track {
  border-top: 1px solid black;
  width:500px;
  clear:both;
}

.total-time {
  position:relative;
  width:450px;
  bottom:0;
  border-top:1px solid #333;
  border-right:1px solid #333;
  transition: height 2s;
  -webkit-transition: height 2s;
}
.notplaying .total-time {
  display: none;
  height:0;
}
.playing .total-time {
  height:10px;
}
.played-time {
  position:relative;
  height:100%;
  width:0; 
  background-color:#36679B;
}
.pmsc-player .notplaying {
  background-color:white;
  opacity:0.5;
}
.pmsc-player .playing {
  color:white;
  background-color:#679B36;
}
.playing .timeplayed {
  display:inline;
}
.notplaying .timeplayed {
  display:none;
}

.pmsc-player .footer {
  width:100%;
  color:#EEE;
  background-color:black;
  text-align:right;
  padding:0 5px;
  font-size:80%;
}